div#div1 {
    color: blue;
    border: 5px solid purple;
    border-radius: 30px;
    margin: 10px 13px 100px 13px;
}

div.ullist {
    color: blue;
    border: 5px solid purple;
    border-radius: 30px;
    margin: 10px 13px 100px 13px;
}